# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
project/.qmake.stash
project/.vs/Pokemon/FileContentIndex/08cbdeec-2067-4ed5-8f9c-13ced0aae5c6.vsidx
project/.vs/Pokemon/v17/Browse.VC.db-shm
project/.vs/Pokemon/v17/Browse.VC.db-wal
project/.vs/Pokemon/v17/Browse.VC.db
project/.vs/Pokemon/v17/ipch/AutoPCH/3441eb1b3e3dd073/CREATURELIBARY.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/454d58e472ef2996/EFFECTMANAGER.ipch
project/.vs/Pokemon/v17/.suo
project/.vs/Pokemon/v17/Browse.VC.opendb
project/.vs/Pokemon/v17/ipch/AutoPCH/52ebcea88fda2179/EFFECT.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/514f99d47138ceeb/GAMEMAINWINDOW.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/5427b92423d3621c/SKILLLIBARY.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/688f4845823c86cd/CREATURE.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/570df3af99f2dcd/MAIN.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/739c77019e7f2bdd/COMMON.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/93d61099554958e/CREATURELIBARY.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/912e56bc152fabe3/BAGSELECTER.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/9f918829ebc61aa/GAME.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/f2a2a0cfac5d5f54/GAMEVIEWER.ipch
project/.vs/Pokemon/v17/ipch/AutoPCH/e30226fc18e584ec/MOC_GAMEMAINWINDOW.ipch
project/.vs/Pokemon/FileContentIndex/read.lock
project/.vs/Pokemon/FileContentIndex/b06e7a17-4cb0-4a84-ab0a-7a93ab1f80e6.vsidx
project/.vs/Pokemon/FileContentIndex/8dfa4640-918f-4e11-9528-44c89c34fedc.vsidx
project/.vs/Pokemon/FileContentIndex/64809fd6-28a2-491c-8a44-c4f813769e77.vsidx
project/debug/BagSelecter.obj
project/debug/Common.obj
project/debug/Creature.obj
project/debug/CreatureLibary.obj
project/debug/Effect.obj
project/debug/EffectManager.obj
project/debug/FileSelecter.obj
project/debug/Game.obj
project/debug/gamemainwindow.obj
project/debug/GameViewer.obj
project/debug/LogWindow.obj
project/debug/main.obj
project/debug/moc_BagSelecter.obj
project/debug/moc_FileSelecter.obj
project/debug/moc_gamemainwindow.obj
project/debug/moc_GameViewer.obj
project/debug/moc_LogWindow.obj
project/debug/moc_PokemonSelecter.obj
project/debug/moc_predefs.h.cbt
project/debug/moc_SkillSelecter.obj
project/debug/Object.obj
project/debug/Player.obj
project/debug/Pokemon.exe
project/debug/Pokemon.exe.recipe
project/debug/Pokemon.ilk
project/debug/Pokemon.log
project/debug/Pokemon.pdb
project/debug/Pokemon.tlog/CL.command.1.tlog
project/debug/Pokemon.tlog/CL.read.1.tlog
project/debug/Pokemon.tlog/CL.write.1.tlog
project/debug/Pokemon.tlog/CustomBuild.command.1.tlog
project/debug/Pokemon.tlog/CustomBuild.read.1.tlog
project/debug/Pokemon.tlog/CustomBuild.write.1.tlog
project/debug/Pokemon.tlog/link.command.1.tlog
project/debug/Pokemon.tlog/link.read.1.tlog
project/debug/Pokemon.tlog/link.write.1.tlog
project/debug/Pokemon.tlog/moc.read.1u.tlog
project/debug/Pokemon.tlog/Pokemon.lastbuildstate
project/debug/Pokemon.tlog/moc.write.1u.tlog
project/debug/Pokemon.tlog/Pokemon.write.1u.tlog
project/debug/Pokemon.tlog/rcc.read.1u.tlog
project/debug/Pokemon.tlog/uic.read.1u.tlog
project/debug/Pokemon.tlog/rcc.write.1u.tlog
project/debug/Pokemon.tlog/uic.write.1u.tlog
project/debug/Pokemon.tlog/unsuccessfulbuild
project/release/qmake/temp/qtvars_x64_Release.props
project/release/qmake/temp/qtvars.vcxproj.filters
project/release/qmake/temp/qtvars.vcxproj
project/release/qmake/temp/qtvars.pro
project/release/qmake/temp/qtvars.log
project/release/qmake/temp/props.txt
project/release/qmake/temp/4C6FC49E-2B97-3C72-8E89-85E37382D5C3.Pokemon.designtime.idx
project/release/qmake/temp/moc_predefs.h.cbt
project/release/qmake/temp/.qmake.stash
project/release/qmake/qtvars_x64_Release.props
project/release/moc_predefs.h.cbt
project/Pokemon.vcxproj.user
project/Pokemon.vcxproj.filters
project/Pokemon.vcxproj
project/debug/vc142.pdb
project/debug/SkillSelecter.obj
project/debug/SkillLibary.obj
project/debug/Skill.obj
project/debug/qt_work.log
project/debug/qt.natvis
project/debug/qrc_resource.obj
project/debug/qmake/temp/qtvars_x64_Debug.props
project/debug/qmake/temp/qtvars.vcxproj.filters
project/debug/qmake/temp/qtvars.vcxproj
project/debug/qmake/temp/qtvars.pro
project/debug/qmake/temp/qtvars.log
project/debug/qmake/temp/props.txt
project/debug/qmake/temp/moc_predefs.h.cbt
project/debug/qmake/temp/4C6FC49E-2B97-3C72-8E89-85E37382D5C3.Pokemon.designtime.idx
project/debug/qmake/temp/.qmake.stash
project/debug/qmake/qtvars_x64_Debug.props
project/debug/PokemonSelecter.obj
project/debug/Pokemon.vcxproj.FileListAbsolute.txt
